*{
    margin:0px;
    padding:0px;
    font-family: Work Sans;
      font-style: normal;
      box-sizing: border-box;
}
.hd1{
    display: flex;

}
.hd1 img{
    width:3.6rem;
 height: 1.25rem;
 margin-right: 0.4rem;
}
.header-container{
    

}
.head-g{
    color: #FF42A5;
}
.gamer{
    font-size: 1.8rem;
  font-weight: 700;
}
.header-b{
    display: flex;
    
}
.title-hd{
    display: flex;
    justify-content: space-between;
    margin:3.4rem 8.6rem;
}
 ul{
    margin-right: 1.5rem;
    text-decoration: none;
}
.box-with-text {
    display: flex;
    border: 1px solid #000;
    padding:0.4rem;
    border-radius: 8px;
    background-color: #e7e5ec;
    align-items: center;
    justify-content: center;
  }
  .text{
    position: relative;
    bottom: 3px;
    padding: 5px;
    
  }
  .symbol {
   
    margin: 0 0.4rem;
  }


.bd-a{
    width: 43rem;
height: 28.6rem;
 align-items: center;
    padding-top: 8.6rem;
 background-color: rgba(150, 29, 91, 0.03);
    
}
.bd-a2{
    margin:3.6rem 8.6rem 0px 8.6rem;
    
}

.bdah1{
  
    color:  #91328c;
    background-clip: text;
    padding:1.4rem 0px 0px 1.4rem;
}
.btn-primary{
    padding: 1rem 1.4rem;
align-items: flex-start;
 border: none; 
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}
.btn-a{
    padding: 0.9rem 1.2rem;
    align-items: flex-start;
     border: none; 
        border-radius: 48px;
        background: #4EC5F7;
}
.btn-txt{
    color: #FFF;
font-size: 0.8rem;
font-weight: 600;
}
.bda-container{
    display: flex;
    justify-content: space-between;
}
.bda-img{
    height: 35.6rem;
    padding:7.15rem;
    object-fit: cover;
}

.bdb-img{
    height: 28.6rem;
    padding:7.15rem;
    width: 50rem;
    object-fit: cover;
}

.bd-b{
    width:64.3rem;
height: 28.6rem;
 align-items: right;
    padding-top: 0px;
    padding-right: 1.2rem;

    
}
.bd-b2{
    margin:3.6rem 8.6rem;
    
}
.bdbh2{
   color:  #8758F1;
}
.bd-para{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 1.3rem;
}


.bdb-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.bc-container{
    align-items: center;
     padding: 20px;
     margin-left:400px;
}
.img-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:20px;
    position: relative;

}
.img-container img{
    width: 90%;
    object-fit: cover;
}
.play-button {
    cursor: pointer;
    position:absolute;
    bottom: 50px;
    right: 400px;
    width: 200px;
    color:#FF42A5
  }
  

.img-para{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin:20px;
    
}
.hdd-container{
    width: 1120px;
height: 927px;
display: flex;
align-items: center;
margin-left: 150px;
}
.imgd-container{
    display: flex;
}
.imgd-container img{
    height: 90%;
    width:90%;
    object-fit: cover;
}
.overlay-image {
    position:relative;
    bottom: -400px;
    right: -100px;
}
.box-d{
    display: flex;
    border-radius: 20px; 
    padding:5px 15px;   
    justify-content: center;
    background-color: #FFFFFF;
    border: 1px solid  #FFFFFF;
    width: 243px;
    height: 80px;
    margin:40px 10px 10px 10px;
}
.d-text{
    color: #0B0223;
    position: relative;
    bottom: -20px;
    padding: 5px;
}


.boxd-container{
    display: flex;
    margin: 60px;
    padding: 0px 20px;
    background-color: whitesmoke;
    height: 200px;
    
}
#bd {
   border: 1px solid #FF42A5;
}
#bdt{
    color:#FF42A5 ;
}
#ftxt{
    color:#FFF
}


.fdesc{
    color: #FFF;
    margin:30px 5px;
}
.fspan{
    margin:0px 8px;
}
.ficon-desc{
    color: rgba(255, 255, 255, 0.60);
    display: flex;
    margin:20px 0px;
}
.ficon-desc h6{
    margin:0px 14px;
}
#fh6{
    color: rgba(255, 255, 255, 0.60); 
}

.foot-container{
    max-width: 100%;
height: 436px;
    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ficon img{
  
    margin:5px 20px
    
}
@media screen and (max-width: 425px) {
    
  .boxd-container,.header-container,.hd1,.header-b,.title-hd{
        flex-direction: column;    
    }
    .btn-a,.bdah1{
        margin:10px 0px;
    }
    .bda-container{
        flex-direction: column;
        width: 100%;
    }
    .bda-container img,.bdb-container img{
        width: 95%;
    }
    .bdb-container{
        flex-direction: column-reverse;
      
    }
    .bd-b2{
        width:15.3rem;
        height: 28.6rem;    

        flex-direction: column;
        text-align: center;
        
    }
    .bc-container{
        flex-direction: column;
        margin-left:25px;
    }
    .img-container,.img-para{
        padding:5px;
        grid-template-columns: repeat(1,1fr);
    }
    .img-container img{
        margin-bottom: 8px;
    }
    .hdd-container{
        width: 420px;
       flex-direction: column;
    
    margin-left: 15px;
    }
    .imgd-container{
      flex-direction: column;
    }
    .imgd-container img{
        height: 70%;
        width:70%;
        
    }
    .overlay-image {
        position:relative;
        bottom: -500px;
        right: -100px;
    }
    .boxd-container{
        height:auto;
        
    }
    

  
}
@media screen and (min-width:425px) and (max-width: 768px){
    
    .boxd-container,.header-container,.title-hd{
        flex-direction: column; 
        justify-content: space-between;  
        margin-left: 100px; 
    }
    .btn-a,.bdah1{
        margin:10px 0px;
    }
    .bda-container{
        flex-direction: column;
        width: 100%;
        padding-left: 100px;
    }
    .bda-container img,.bdb-container img{
        width: 80%;
    }
    .bdb-container{
        flex-direction: column-reverse;
      
    }
    .bdb-container img{
        width: 80%;
    }
    .bd-b2{
        width:15.3rem;
        height: 28.6rem;    

        flex-direction: column;
        text-align: center;
        
    }
    .bc-container{
        flex-direction: column;
        margin-left:35px;
    }
    .img-container,.img-para{
        
        grid-template-columns: repeat(1,1fr);
        margin:20px;
        padding: 0px;
    }
    .img-container img{
       margin-bottom: 10px;
       margin:20px;
       width:60%;
       object-fit: cover;
        
        
    }
    .play-button {   
         
        position:absolute;
        bottom: 50px;
        right: 500px;
        width: 200px;
        color:#FF42A5
      }
    .hdd-container{
        width: 420px;
       flex-direction: column;
    
    margin-left: 15px;
    }
    .imgd-container{
      flex-direction: column;
    }
    .imgd-container img{
        height: 70%;
        width:70%;
        
    }
    .overlay-image {
        position:relative;
        bottom: -500px;
        right: -100px;
    }
    .boxd-container{
        height:auto;
        
    }
    .foot-container{
        width: 600px;
    }

}


